<center>
<h2>add an out</h2>

<%= link_to 'in', ins_path %> / 
<%= link_to 'index', items_path %> / 
<%= link_to 'new', new_out_path %><br>
<%= form_for @out do |f| %>
<table width=60%>
  <tr>
    <th>date</th>
    <th>item</th>
    <th>amount</th>
    <th>price</th>
    <th>to</th>
    <th>paid</th>
    <th colspan="3"></th>
  </tr>
  <tr>
    <td><%= f.date_select :date %></td>
    <td><%= f.select :item_id, Item.all.order('name ASC').map { |i| [i.name, i.id]}, :hide_label => true%></td>
    <td><%= f.text_field :amount %></td>
    <td><%= f.text_field :price %></td>
    <td><%= f.text_field :to %></td>
    <td><%= f.check_box :paid %></td>
  </tr>
  <tr>
    <td colspan="5"><center><%= f.submit %></td>
  </tr>
</table>
<% end %>
</center>
